body {
    font-size: 20px;
    text-align: center;
}

img {
    height: 130px;
    margin: 10px;
    display: inline-block;
}

button {
    margin-top: 1rem;
}

.hero-body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100%;
   
}
 .title{
     color:#FBDD6E;
     font-size: 7rem;
     font-family:'Shadows Into Light', cursive;
     text-shadow: 2px 2px #000000;
     
 }
 
.footer {
    bottom:0; 
    background-attachment: scroll;
    width: 100%;
    height:20px;
    background-color: rgba(100, 100, 100, .0);
    font-family: 'Shadows Into Light', cursive;
    color: black;
    text-shadow:1px 1px #FBDD6E;
    font-size: 2rem;
}

.background {
    background-image: linear-gradient(white,lightgray);
    width:100%;
    height: 100%;
}

.box {
    background-color: rgba(100, 100, 100, .7);
    border: 4px solid white;
    border-radius: 2rem;
}

.secret {
    opacity: 0;
    font-size: 1rem;
    color: #FBDD6E;
  }

.middle:hover .secret {
    opacity: 1;
  }

#user-input {
    padding: 3rem;
    display: flex;
    justify-content: center;
    width: 90vw;
}

#fill-blank {
    font-family: 'Bree Serif', serif;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#prompt {
    color: white ;
}


/* font-family: 'Shadows Into Light', cursive;
font-family: 'Bree Serif', serif; */