.hero-body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/006/272/147/large/jack-oldham-mountain-galaxy-background-1.jpg?1497300224");
    width:100%;
   
}
 .title{
     color:white;
 }
 .subtitle{
    color:white;
}
 
.footer {
    position: fixed;
    bottom:0;
    width: 100%;
    height:40px;
}