body {
    /* color: white; */
    font-size: 20px;
    text-align: center;
}

.hero-body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-image: url("https://cdnb.artstation.com/p/assets/images/images/006/272/147/large/jack-oldham-mountain-galaxy-background-1.jpg?1497300224"); */
    width:100%;
   
}
 .title{
     color:#FBDD6E;
     font-size: 8rem;
     font-family:'Shadows Into Light', cursive;
     text-shadow: 2px 2px #000000;
     
 }
 
.footer {
    /* /* position: absolute; */
    bottom:0; 
    background-attachment: scroll;
    width: 100%;
    height:20px;
    background-color: rgba(100, 100, 100, .0);
    font-family: 'Shadows Into Light', cursive;
    color: black;
    text-shadow:1px 1px #FBDD6E;
    font-size: 2rem;
}

.background {
    background-image: linear-gradient(white,lightgray);
    width:100%;
    height: 100%;
}

.box {
    background-color: rgba(100, 100, 100, .7);
    border: 4px solid white;
    border-radius: 2rem;
}

#user-input {
    padding: 3rem;
    display: flex;
    justify-content: center;
    width: 90vh;
}

#next-button {
    margin-top: 1rem;
}

#fill-blank {
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
}

#prompt {
    color: white ;
}
/* font-family: 'Shadows Into Light', cursive;
font-family: 'Bree Serif', serif; */